@model Nop.Plugin.Misc.ComingSoonPage.Models.ConfigurationModel

@{
    Layout = "_ConfigurePlugin";
}

@await Component.InvokeAsync("StoreScopeConfiguration")
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="BackgroundId_OverrideForStore" asp-input="BackgroundId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="BackgroundId" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="BackgroundId" />
                        <span asp-validation-for="BackgroundId"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="OpeningDate_OverrideForStore" asp-input="OpeningDate" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="OpeningDate" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="OpeningDate" />
                        <span asp-validation-for="OpeningDate"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="DisplayCountdown_OverrideForStore" asp-input="DisplayCountdown" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="DisplayCountdown" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="DisplayCountdown" />
                        <span asp-validation-for="DisplayCountdown"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="DisplayNewsletterBox_OverrideForStore" asp-input="DisplayNewsletterBox" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="DisplayNewsletterBox" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="DisplayNewsletterBox" />
                        <span asp-validation-for="DisplayNewsletterBox"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="DisplayLoginButton_OverrideForStore" asp-input="DisplayLoginButton" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="DisplayLoginButton" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="DisplayLoginButton" />
                        <span asp-validation-for="DisplayLoginButton"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        &nbsp;
                    </div>
                    <div class="col-md-9">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}